<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: black;
    }
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .image-container p{
        margin: 20px 0;
        font-size: 20px;
        font-weight: bold;
        max-width: 800px;
        color:white;
    }
    img {
      margin: 10px;
    }
  </style>
</head>
<body>
  {% block content %}
  <div class="image-container">
    <a href="{% url 'dev-id' 0 %}"><img src="/media/images/c36c53b055ea1fec1ad99fa9d652538a-removebg-preview (1).png" alt="Imagem 1"></a>
    <a href="{% url 'dev-id' 1 %}"><img src="/media/images/intp-removebg-preview.png"alt="Imagem 2"></a>
    <a href="{% url 'dev-id' 2 %}"><img src="/media/images/c36c53b055ea1fec1ad99fa9d652538a-removebg-preview (2).png" alt="Imagem 3"></a>
    <a href="{% url 'dev-id' 3 %}"><img src="/media/images/INTJ-removebg-preview.png" alt="Imagem 4"></a>   
  </div>
  {% endblock content %}
</body>
</html>
